@font-face {
    font-family: 'Louis George Cafe Bold';
    src: url('../fonts/Louis George Cafe Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Louis George Cafe';
    src: url('../fonts/Louis George Cafe.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}